mixin reviewCard(photo,name,review,Rrating)
   .reviews__card
      .reviews__avatar
         img.reviews__avatar-img(src=`/img/users/${photo}`, alt=`${name}`)
         h6.reviews__user #{name}
      p.reviews__text #{review}
      .reviews__rating
         each rating in [1,2,3,4,5]
            svg.reviews__star(class=`reviews__star--${Rrating>=rating?'active':'inactive'}`)
               use(xlink:href='/img/icons.svg#icon-star')  